body {
    font-family: 'Roboto', sans-serif;
    background-color: cadetblue;
    color: white;
    font-size: 30px;
}

.text-center {
    margin-top: 10%;
    min-height: 300px;
    display: block;
}

#search-icon {
    color: coral;
    font-size: 70px;
    font-weight: 100;
}

a, a:hover {
    color: white;
}

#search-form input[type="text"] {
    width: 350px;
    border: 5px solid coral;
    border-radius: 50px;
    color:black;
    padding-left: 15px;
    padding-right: 15px;
}