body {
    font-family: 'Roboto', sans-serif;
    background-color: cadetblue;
    color: white;
    font-size: 30px;
}

.text-center {
    margin-top: 10%;
    min-height: 300px;
    display: block;
}

#search-icon {
    color: coral;
    font-size: 70px;
    font-weight: 100;
}
